body
{
    background-size: cover;
}

button
{
    position: absolute;
    bottom: -10px;
    width: 30%;
    border: 3px solid #8AC007;
    margin-left: 450px;
}

h1
{
    width: 100%;
    font-size: 15px;
}

canvas
{
    border-style: dashed;
    box-shadow: 5px 5px 5px grey;
    border-radius: 20px;
    margin-top: 150px;
}