body
{
    background-size: cover;
}



h1
{
    width: 100%;
    font-size: 15px;
}

canvas
{
    border-style: dashed;
    box-shadow: 5px 5px 5px grey;
    border-radius: 20px;
    margin-top: 150px;
}